#titulo_principal{
    background-color: #945902;
    color: white;
}

.titulo_secundario{
    background-color: #042b01;
    color: white;
}
#layout{
    display: flex;
    gap: 20px; /* espaço entre texto e imagem */
}
.rodape{
    text-align: center;
}
